* {
  font-family: Inter;
  box-sizing: border-box;
}

body {
  padding-top: 4em;
}

.u-wrapper {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
}

.menu-checkbox {
  display: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar a {
  text-decoration: none;
  color: black;
  padding: 1em;
}

.navbar__logo {
  display: flex;
  align-items: center;
}

.navbar__menu {
  margin-left: auto;
}

.navbar__menu > ul {
  display: flex;
  padding: 0;
  margin: 0;
}

.navbar__menu > ul > li {
  list-style: none;
}

.navbar__menu > ul > li > a {
  display: block;
}

.navbar__button {
  display: none;
}

.hero {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

.hero__avatar {
  border-radius: 50%;
  max-width: 100%;
  height: auto;
}

.hero__title {
  letter-spacing: -0.1em;
  font-size: 5rem;
  display: block;
  font-weight: bold;
}

.hero__subtitle {
  letter-spacing: -0.1em;
  font-weight: bold;
  display: block;
  padding-top: 1em;
  padding-bottom: 1em;
}

.hero__links {
  font-size: 2em;
  font-style: none;
  color: black;
}

@media screen and (max-width: 960px) {
  .hero__title {
    font-size: 10vw;
  }
}
