html {
  scroll-behavior: smooth;
}

* {
  font-family: Inter;
  box-sizing: border-box;
}

body {
  padding-top: 4em;
  height: 100vh;
}

.u-wrapper {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
}

.menu-checkbox {
  display: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  transition: box-shadow 0.5s ease;
}

.header--border {
  box-shadow: 0px 1px lightgray;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar a {
  text-decoration: none;
  color: black;
  padding: 1em;
}

.navbar__fixed-content {
  display: flex;
  justify-content: space-between;
}

.navbar__logo {
  display: flex;
  align-items: center;
}

.navbar__button {
  display: none;
  font-size: 2em;
  align-items: center;
  user-select: none;
}

.navbar__menu > ul {
  display: flex;
  padding: 0;
  margin: 0;
}

.navbar__menu > ul > li {
  list-style: none;
}

.navbar__menu > ul > li > a {
  display: block;
  color: dimgray;
}
.navbar__menu > ul > li > a:hover {
  color: black;
}

@media screen and (max-width: 960px) {
  .navbar__button {
    display: inline-flex;
  }

  .navbar__button:hover {
    cursor: pointer;
  }

  .navbar {
    display: block;
  }

  .navbar__menu {
    display: none;
  }

  .navbar__menu > ul {
    display: flex;
    flex-direction: column;
  }

  .navbar__menu > ul > li {
    width: 100%;
  }

  .navbar__menu > ul > li > a {
    text-align: center;
  }

  .menu-checkbox:checked ~ .header {
    box-shadow: 0px 1px lightgray;
  }
  .menu-checkbox:checked ~ .header > div > div > .navbar__menu {
    display: block;
  }
}

.hero {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

.hero__avatar {
  border-radius: 50%;
  max-width: 100%;
  height: auto;
}

.hero__title {
  letter-spacing: -0.1em;
  font-size: 5rem;
  display: block;
  font-weight: bold;
}

.hero__subtitle {
  letter-spacing: -0.1em;
  font-weight: bold;
  display: block;
  padding-top: 1em;
  padding-bottom: 1em;
}

.hero__links {
  font-size: 2em;
  font-style: none;
  color: black;
}

@media screen and (max-width: 960px) {
  .hero__title {
    font-size: 10vw;
  }
}

.section__title {
  font-size: 4em;
  letter-spacing: -0.1em;
  text-align: center;
  margin: 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.section__title--cyan {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 247, 250, 1) 50%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section__title--green {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 232, 73, 1) 50%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section__subtitle {
  text-align: center;
  font-size: 2em;
  letter-spacing: -0.1em;
}

.section {
  padding-top: 1em;
  padding-bottom: 1em;
}

.section__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(4rem, 8rem));
  grid-gap: 2rem;
  justify-content: center;
}

.section__grid--min-25 {
  grid-template-columns: repeat(auto-fit, minmax(4rem, 25rem));
}
.section__grid__card {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.section__grid__card__body {
  display: flex;
  height: 100%;
  justify-content: center;
  flex-direction: column;
}

.section__grid__card__body__image {
  padding: 1em;
  height: auto;
  width: 100%;
  object-fit: contain;
}

.section__grid__card__body__image--w-5 {
  padding: 1em;
  height: 5em;
  width: 100%;
  object-fit: contain;
}

.section__grid__card__body__title {
  text-align: center;
}

.section__grid__card__body__tags {
  text-align: center;
}

.section__grid__card__content {
  text-align: center;
}

.section__grid__card__content__button {
  display: inline-block;
  padding: 1em;
  margin: 1em;
  border: 1px solid lightgray;
  text-decoration: none;
  color: black;
  align-items: center;
  border-radius: 5px;
}

.portfolio {
  padding: 2em;
}
